APP_NAME=EDUTECH
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://edutechadmin.opcionapps.com
APP_LOCALE=es
APP_FALLBACK_LOCALE=es
LOG_CHANNEL=stack
LOG_LEVEL=warning
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=edutech
DB_USERNAME=edutech
DB_PASSWORD=CAMBIAR_CONTRASENA_SEGURA
POSTGRES_DB=edutech
POSTGRES_USER=edutech
POSTGRES_PASSWORD=CAMBIAR_CONTRASENA_SEGURA
SESSION_DRIVER=redis
CACHE_STORE=redis
QUEUE_CONNECTION=redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=CAMBIAR_CONTRASENA_REDIS_SEGURA
REDIS_PORT=6379
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
MAIL_MAILER=log
FILESYSTEM_DISK=local
